function Random.seed 0
push argument 0
pop static 0
push constant 0
return
function Random.mod 0
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 0
neg
pop argument 0
label IF_FALSE0
label WHILE_EXP0
push argument 0
push constant 1
add
push argument 1
gt
not
if-goto WHILE_END0
push argument 0
push argument 1
sub
pop argument 0
goto WHILE_EXP0
label WHILE_END0
push argument 0
return
function Random.next 0
push constant 7919
push constant 17
push static 0
call Math.multiply 2
add
push constant 7919
call Random.mod 2
pop static 0
push static 0
return
function Random.between 1
push argument 1
push argument 0
sub
pop local 0
call Random.next 0
push local 0
call Random.mod 2
push argument 0
add
return
