function Snake.new 2
push constant 12
call Memory.alloc 1
pop pointer 0
push argument 1
pop this 0
push argument 0
pop this 1
push constant 16
pop this 2
push constant 0
pop this 10
push constant 2
call Array.new 1
pop this 3
push constant 0
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push constant 0
push constant 0
call Snake.drawBlock 3
pop temp 0
push constant 100
call Queue.new 1
pop this 4
push constant 20
pop local 0
push constant 1
call Random.seed 1
pop temp 0
label WHILE_EXP0
push local 0
push constant 0
eq
not
not
if-goto WHILE_END0
call Random.next 0
push this 0
push this 1
call Math.multiply 2
call Snake.mod 2
pop local 1
push this 4
push local 1
call Queue.push_back 2
pop temp 0
push pointer 0
push local 1
call Snake.drawFood 2
pop temp 0
push local 0
push constant 1
sub
pop local 0
goto WHILE_EXP0
label WHILE_END0
push this 0
push this 1
call Math.multiply 2
call Queue.new 1
pop this 6
push this 6
push constant 0
call Queue.push_back 2
pop temp 0
push constant 5
call Array.new 1
pop this 8
push constant 1
pop this 9
push constant 0
push this 8
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 8
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push this 8
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push this 8
add
push constant 1
neg
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
pop this 11
push pointer 0
return
function Snake.dispose 0
push argument 0
pop pointer 0
push this 3
call Array.dispose 1
pop temp 0
push this 4
call Queue.dispose 1
pop temp 0
push this 6
call Queue.dispose 1
pop temp 0
push this 8
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Snake.mod 0
push argument 0
push argument 0
push argument 1
call Math.divide 2
push argument 1
call Math.multiply 2
sub
return
function Snake.isOver 0
push argument 0
pop pointer 0
push this 10
push constant 1
eq
return
function Snake.moveUp 0
push argument 0
pop pointer 0
push this 9
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop this 9
push constant 0
return
function Snake.moveDown 0
push argument 0
pop pointer 0
push this 9
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 2
pop this 9
push constant 0
return
function Snake.moveLeft 0
push argument 0
pop pointer 0
push this 9
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 3
pop this 9
push constant 0
return
function Snake.moveRight 0
push argument 0
pop pointer 0
push this 9
push constant 3
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 1
pop this 9
push constant 0
return
function Snake.drawBlock 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 2
push constant 16
call Math.multiply 2
push argument 1
push constant 2
add
push constant 16
call Math.multiply 2
push argument 2
push constant 16
call Math.multiply 2
push constant 15
add
push argument 1
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Snake.eraseBlock 2
push argument 0
pop pointer 0
push argument 1
push this 1
call Math.divide 2
pop local 0
push argument 1
push this 1
call Snake.mod 2
pop local 1
push constant 0
call Screen.setColor 1
pop temp 0
push local 1
push constant 16
call Math.multiply 2
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push local 1
push constant 16
call Math.multiply 2
push constant 15
add
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Snake.debug 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Snake.drawFood 2
push argument 0
pop pointer 0
push argument 1
push this 1
call Math.divide 2
pop local 0
push argument 1
push this 1
call Snake.mod 2
pop local 1
push constant 0
not
call Screen.setColor 1
pop temp 0
push local 1
push constant 16
call Math.multiply 2
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push local 1
push constant 16
call Math.multiply 2
push constant 15
add
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
call Screen.drawLine 4
pop temp 0
push local 1
push constant 16
call Math.multiply 2
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push local 1
push constant 16
call Math.multiply 2
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 16
call Math.multiply 2
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push local 1
push constant 16
call Math.multiply 2
push constant 15
add
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 16
call Math.multiply 2
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
push local 1
push constant 16
call Math.multiply 2
push constant 15
add
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 16
call Math.multiply 2
push constant 15
add
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push local 1
push constant 16
call Math.multiply 2
push constant 15
add
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push local 1
push constant 16
call Math.multiply 2
push constant 15
add
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push local 1
push constant 16
call Math.multiply 2
push local 0
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Snake.drawHead 0
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 2
push constant 16
call Math.multiply 2
push argument 1
push constant 2
add
push constant 16
call Math.multiply 2
push argument 2
push constant 16
call Math.multiply 2
push constant 15
add
push argument 1
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push argument 2
push constant 16
call Math.multiply 2
push constant 15
add
push argument 1
push constant 2
add
push constant 16
call Math.multiply 2
push argument 2
push constant 16
call Math.multiply 2
push argument 1
push constant 2
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Snake.move 7
push argument 0
pop pointer 0
push pointer 0
call Snake.isOver 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 9
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push constant 0
push this 3
add
pop pointer 1
push that 0
push this 9
push this 8
add
pop pointer 1
push that 0
add
pop local 0
push constant 1
push this 3
add
pop pointer 1
push that 0
push this 9
push constant 1
add
push this 8
add
pop pointer 1
push that 0
add
pop local 1
push constant 0
pop local 2
push local 0
push constant 0
lt
push local 1
push constant 0
lt
or
push local 0
push this 0
eq
or
push local 1
push this 1
eq
or
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 1
pop this 10
push constant 0
return
label IF_FALSE2
push this 6
call Queue.size 1
pop local 2
label WHILE_EXP0
push local 2
push constant 0
eq
not
not
if-goto WHILE_END0
push this 6
call Queue.pop_front 1
pop local 3
push local 2
push constant 1
sub
pop local 2
push local 3
push this 1
call Math.divide 2
pop local 4
push local 3
push this 1
call Snake.mod 2
pop local 5
push local 4
push local 0
eq
push local 5
push local 1
eq
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 1
pop this 10
push constant 0
return
label IF_FALSE3
push this 6
push local 3
call Queue.push_back 2
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Snake.isOver 1
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
return
label IF_FALSE4
push this 4
call Queue.size 1
pop local 2
label WHILE_EXP1
push local 2
push constant 0
eq
not
not
if-goto WHILE_END1
push local 2
push constant 1
sub
pop local 2
push this 4
call Queue.pop_front 1
pop local 3
push local 3
push this 1
call Math.divide 2
pop local 4
push local 3
push this 1
call Snake.mod 2
pop local 5
push local 4
push local 0
eq
push local 5
push local 1
eq
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
not
pop local 6
push this 11
push constant 1
add
pop this 11
goto IF_END5
label IF_FALSE5
push this 4
push local 3
call Queue.push_back 2
pop temp 0
label IF_END5
goto WHILE_EXP1
label WHILE_END1
push constant 0
push this 3
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 3
add
push local 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push pointer 0
push local 0
push local 1
call Snake.drawBlock 3
pop temp 0
push this 6
push local 0
push this 1
call Math.multiply 2
push local 1
add
call Queue.push_front 2
pop temp 0
push local 6
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push this 6
call Queue.pop_back 1
call Snake.eraseBlock 2
pop temp 0
goto IF_END6
label IF_FALSE6
label IF_END6
push constant 0
not
return
function Snake.prodFood 4
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
call Random.next 0
push this 0
push this 1
call Math.multiply 2
call Snake.mod 2
pop local 1
push this 6
call Queue.size 1
pop local 3
push constant 0
not
pop local 0
label WHILE_EXP1
push local 3
push constant 0
eq
not
not
if-goto WHILE_END1
push this 6
call Queue.pop_front 1
pop local 2
push this 6
push local 2
call Queue.push_back 2
pop temp 0
push local 2
push local 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
goto WHILE_EXP1
label WHILE_END1
goto WHILE_EXP0
label WHILE_END0
push pointer 0
push local 1
call Snake.drawFood 2
pop temp 0
push this 4
push local 1
call Queue.push_back 2
pop temp 0
push local 1
return
function Snake.getScore 0
push argument 0
pop pointer 0
push this 11
return
